name: Send a Tweet
on: [push]
jobs:
  tweet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: infraway/tweet-action@v1.0.1
        with:
          status: "$(git log --no-merges -1 --pretty=%B)"
          api_key: ${% raw %}{{ secrets.TWITTER_CONSUMER_API_KEY }}{% endraw %}
          api_key_secret: ${% raw %}{{ secrets.TWITTER_CONSUMER_API_SECRET }}{% endraw %}
          access_token: ${% raw %}{{ secrets.TWITTER_ACCESS_TOKEN }}{% endraw %}
          access_token_secret: ${% raw %}{{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}{% endraw %}
      - name: fediverse-action
        uses: rzr/fediverse-action@v0.0.6
        with:
          access-token: ${{ secrets.MASTODON_ACCESS_TOKEN }}
          message: "NEW POST: ${% raw %}{{ steps.log.output.message }}{% endraw %}"
