name: Send a Tweet
on: [push]
jobs:
  tweet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: infraway/tweet-action@v1.0.1
        with:
          status: "NEW POST: ${{ github.event.commits[0].message }} https://n8acl.github.io"
          api_key: ${{ secrets.TWITTER_CONSUMER_API_KEY }}
          api_key_secret: ${{ secrets.TWITTER_CONSUMER_API_SECRET }}
          access_token: ${{ secrets.TWITTER_ACCESS_TOKEN }}
          access_token_secret: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
      - name: fediverse-action
        uses: rzr/fediverse-action@v0.0.6
        with:
          access-token: ${{ secrets.MASTODON_ACCESS_TOKEN }}
          message: "NEW POST: ${{ github.event.commits[0].message }} https://n8acl.github.io"
